#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.generatorContainer {
	background-color: black;
	width: 400px;
	height: 600px;
	color: white;
	font-size: 20px;

	padding: 16px 24px;
	border-radius: 20px;
}

.generatorTitle {
	font-size: 28px;	
	font-weight: bold;
}

.educationLevelContainer {
	height: 400px; 

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.educationInputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.educationLevelTitle {
	margin: 0px;
}

.educationLevelButtons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.gpaLevel > * {
	padding: 0px 8px;
}

#userGpa {
	width: 20px;
}

.next {
	align-self: stretch;
}

.invisible {
    display: none;
}
