#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.generatorContainer {
	background-color: black;
	width: 400px;
	height: 600px;
	color: white;
	font-size: 20px;

	padding: 16px 24px;
	border-radius: 20px;
}

.generatorTitle {
	font-size: 28px;	
	font-weight: bold;
}




